@model PaymentModel
@{
    ViewData["Title"] = "Payment | Crave Orderig";
    var error = ViewData["error"] as string;
    Address address = TempData.Peek<Address>("Address");
}

<partial name="_CheckoutHeader" />

<div class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main_breadcum">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index" class="trans" title="Home">Home</a></li>
                        <li><a asp-controller="Cart" asp-action="Index" class="trans" title="Cart">Cart</a></li>
                        <li>Payment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcum section -->
<!-- Our cart section -->
<section>
     @if (Model != null)
    {

        <div class="main_checkout">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner_checkout ">
                            <form asp-controller="Payment" asp-action="Index" method="post" id="checkoutform">
                               @if (!string.IsNullOrEmpty(error))
                                {
                                    <div class="alert alert-danger">@error</div>
                                }
                                <div class="left_cnt col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                    <h2 class="title">Delivery Address</h2>

                                    <div class="checkout-form">
                                        <ul>

                                            <li class="fullwidth">
                                                <label for="Street">Address<span>*</span></label>
                                                <input asp-for="@address.Street" type="text" class="form-control" placeholder="Street Address" id="Address" readonly>
                                            </li>
                                            <li>
                                                <label for="Locality">Locality<span>*</span></label>
                                                <input asp-for="@address.Locality" type="text" class="form-control" id="Town" readonly>
                                            </li>
                                            <li>
                                                <label for="PostcodeZip">Post code / Zip<span>*</span></label>
                                                <input asp-for="@address.ZipCode" type="text" class="form-control" id="PostcodeZip" readonly>
                                            </li>
                                            <li>
                                                <label for="Town">Town / City<span>*</span></label>
                                                <input asp-for="@address.City" type="text" class="form-control" id="Town" readonly>
                                            </li>
                                            <li>
                                                <label for="phoneno">Phone Number<span>*</span></label>
                                                <input asp-for="@address.PhoneNumber" type="number" class="form-control" id="Town" readonly>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <button type="submit" class="checkout-btn red_btn trans hvr-float-shadow" name="checkout">Make Payment</button>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="right_cntbar col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                    <div class="your_order">
                                        <div class="Order_title">
                                            <span class="O_lefttitle">Order Details</span>

                                        </div>
                                        <div class="Order_number">
                                            <ul>
                                                @foreach (var item in Model.Cart.Items)
                                                {
                                                    <li>
                                                        <div class="Order_number">
                                                            <div class="Order_names">
                                                                <span class="O_name">@item.Name</span>
                                                                <span class="O_type">Extra Large</span>

                                                            </div>
                                                            <div class="Order_price">
                                                                <span class="O_price">#@item.UnitPrice</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="totle_Oamount">
                                            <div class="O_totlecost">
                                                <span class="O_title">Subtotal</span>
                                                <span class="O_price O_title_otput">#@Model.Cart.Total</span>
                                            </div>
                                            <div class="O_totlecost">
                                                <span class="O_title">Delivery</span>
                                                <span class="O_price O_title_otput">Free Delivery</span>
                                            </div>
                                            <div class="O_totlecost">
                                                <span class="O_title">Total</span>
                                                <span class="O_price">#@Model.Cart.GrandTotal</span>
                                            </div>
                                            <ul>
                                                @if (CurrentUser != null)
                                                {
                                                    @Html.Hidden("amount", Model.Cart.Total);
                                                    @Html.Hidden("email", CurrentUser.Email);
                                                    @Html.Hidden("currency", "NGN");
                                                        <li>
                                                            <button id="rzp-button" type="submit" class="checkout-btn red_btn trans hvr-float-shadow" name="checkout">Place Order</button>
                                                        </li>
                                                    }
                                                   
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
