@model eFoodHub.Repositories.Models.CartModel

@{
    ViewData["Title"] = "Cart | eFoodHub Hub";
    Layout = "_PublicLayout";
}

<partial name="_CartHeader"/>
<div class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main_breadcum">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index" class="trans" title="Home">Home</a></li>
                        <li>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 <section>
           @if(Model != null && Model.Items.Count > 0)
           {
            <div class="main_cart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_Ourmenu">
                                <h2 class="title">Cart</h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart_list">
                                <ul class="inner_cartlist">
                                    <li class="header">
                                        <div class="main_head">
                                            <div class="edit">&nbsp;</div>
                                            <div class="pro_name">
                                                <h4>Product</h4></div>
                                            <div class="pro_qty">
                                                <h4>Qty</h4></div>
                                            <div class="pro_price">
                                                <h4>Price</h4></div>
                                            <div class="pro_total">
                                                <h4>Total</h4></div>
                                        </div>
                                    </li>
                                    @foreach(var item in Model.Items)
                                    {
                                        <li class="rows">
                                        <div class="edit">
                                            <div class="edit_div"><a href="javascript:void(0)" onclick="deleteItem('@item.Id')" class="trans del" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></div>
                                        </div>
                                        <div class="pro_name">
                                            <div class="products">
                                                <div class="pro_img"><img src="@item.ImageUrl" class="absoImg" style="width:118px; height:80px"!importamt  alt=""></div>
                                                <div class="pro_descr">
                                                    <h3 class="pro_title"><a href="#" title="Mexican Pizza" class="trans">@item.Name</a></h3>
                                                    <p class="pro_dtls">@item.Description</p>
                                                    <p class="size"><span class="size">Size :</span>Medium</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pro_qty">
                                            <div class="number-input">

                                            <button onclick="updateQuantity('@item.Id',-1)"></button>
                                                <input class="quantity" min="0" name="quantity" value="@item.Quantity" type="number">
                                            <button onclick="updateQuantity('@item.Id',1)" class="plus"></button>

                                            </div>
                                        @if (Model.Items.IndexOf(item) < Model.Items.Count - 1)
                                        {
                                            <hr class="mb-4">
                                        }

                                        </div>
                                        <div class="pro_price">
                                            <h4>#@item.UnitPrice.ToString("##.#")</h4>
                                        </div>
                                        <div class="pro_total">
                                            <h4>#@((item.UnitPrice * @item.Quantity).ToString("##.#"))</h4></div>
                                    </li>
                                    }
                                </ul>
                                <div class="coupan_block">
                                    <form method="post" id="couponform">
                                        <div class="coupan_code">
                                            <input type="text" name="Coupancode" class="form-control" placeholder="Coupon Code">
                                            <button type="submit" class="coupon-btn send trans hvr-ripple-out" name="coupon">Apply Coupon</button>
                                            <!-- <input type="submit" value="Apply Coupon" class="send trans"> -->
                                        </div>
                                    </form>
                                    <div class="Redio_diltype">
                                        <ul>
                                            <li>

                                                <input type="radio" id="Delivery" name="deliver_type" value="male" checked>
                                                <label for="Delivery">Delivery</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="takeaway" name="deliver_type" value="female">
                                                <label for="takeaway">Take Away</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="checkout">
                                    <p class="order_dscr">Order with Delivery</p>
                            <p class="order_total"><span>Tax :</span> #@Model.Tax</p>
                            <p class="order_total"><span>Total :</span> #@Model.GrandTotal</p>
                                    <div class="btn_checkout">
                                        <a href="#" class="trans gray_btn hvr-ripple" title="Update Cart">Update Cart </a>
                                        @if (CurrentUser != null)
                                        {
                                            <a asp-action="Checkout" asp-controller="Cart" class="trans red_btn squre-btn hvr-ripple-out" title="Proceed to Checkout">Proceed to Checkout</a>
                                        }
                                        else
                                        {
                                    <a asp-action="Login" asp-controller="Account" asp-route-returnurl="/Cart/Index" class="trans red_btn squre-btn hvr-ripple-out" title="Proceed to                                                           Checkout">Proceed to Checkout</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           }
           else
          {
            <div class="row">
                <div class="col-sm-12 mt-5">
                    <p style="min-height:300px">
                        Your cart is empty. Please add some items from the menu.! <br><br>
                        <a href="/" class="btn btn-primary">Browse Menu</a>
                    </p>
                </div>
            </div>
           }
</section>
 
        <!-- Our cart section -->
        <!-- Quick Order Section -->
        <section>
            <div class="quick_order">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_quickorder">
                                <h3 class="title">Call Us for Quick Order</h3>
                                <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:+01234567890" id="typewriter_num"></a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>