<section>
    <div class="popular">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main_popular">
                        <h2 class="title">Popular Our Food</h2>
                        <p class="desc">
                            Choose from over 30 craveable toppings to make your perfect Food.
                            <br> Don’t love what you ordered? Let us know. We’re all about second chances.
                        </p>
                        <div class="p_card">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul>

                                            <li>
                                                <div class="card">
                                                    <div class="C_img"> <img src="@item.ImageUrl" class="absoImg" alt=""> </div>
                                                    <div class="C_desc">
                                                        <h3 class="title">@item.Name</h3>
                                                        <p class="desc">@item.Description</p>
                                                        <div class="price_block">
                                                            <div class="price">#@item.UnitPrice.ToString("##.#")</div>
                                                            <a href="javascript:void(0)" onclick="AddToCart('@item.ItemId','@item.Name','@item.UnitPrice',1)" class="card_btn">Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="toast fade hide" data-autohide="false" id="toastCart">
    <div class="toast-header">
        <strong class="mr-auto text-primary">Notification</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">×</button>
    </div>
    <div class="toast-body"></div>
</div>